@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Carlos Roman </h1>
    <ul>
        <li><a href="https://github.com/carlito03">GitHub</a></li>
        <li><a href="">LinkedIn Profile</a></li>

    </ul>
</div>

<div class="row">
  
</div>