
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.message</h2>

<div>
    <form action="" method="post">
        Password:<input type="text" name="pass"/><br />
        <input type="submit" />
    </form>

</div>

